h1{
    font-size:30px;
    font-family:georgia;
    font-weight:normal;
    font-style:italik;
    color:#F6F5EE;
    line-height:26px;
}
h2{
    font-size:12px;
    font-family:georgia;
    font-weight:normal;
    font-style:italik;
    color:#FE5C5C;
    line-height:26px;   
}
menu title{
font-size:12px;
    font-family:georgia;
    font-weight:normal;
    font-style:italik;
    color:#F6F5EE;
    line-height:26px;  
}
h3{
    font-size:36px;
    font-family:georgia;
    font-weight:normal;
    font-style:italik;
    color:#545454;
    line-height:36px; 
}
h4{
    font-size:15px;
    font-family:georgia;
    font-weight:normal;
    font-style:regular;
    color:#C12F2F;
    line-height:26px; 
}
h5{
    font-size:12px;
    font-family:georgia;
    font-weight:normal;
    font-style:italic;
    color:#545454;
    line-height:12px; 
}
text{font-size:13px;
    font-family:georgia;
    font-weight:normal;
    color:#545454;
    line-height:26px; 
}